name: CI-Project-Check
on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Build the Docker image
        # Ta komenda sprawdzi sam Dockerfile, co jest kluczowe dla pkt 6
        run: docker build . --file Dockerfile
        
      - name: Docker Compose Check
        # Sprawdzamy czy compose się "składa" poprawnie
        run: docker-compose config
